In [1]:
import pandas as pd
import datetime as dt

In [2]:
reservations_WestCoast = pd.read_csv("reservations_West_Coast.csv", encoding = 'unicode_escape')

D:\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
reservations_WestCoast.dtypes

agency                object
regiondescription     object
parentlocation        object
park                  object
sitetype              object
facilityid           float64
facilityzip           object
facilitystate         object
customerzip           object
customerstate         object
customercountry       object
totalbeforetax       float64
startdate             object
enddate               object
orderdate             object
numberofpeople       float64
dtype: object

In [4]:
reservations_WestCoast["startdate"] = pd.to_datetime(reservations_WestCoast["startdate"])
reservations_WestCoast["enddate"] = pd.to_datetime(reservations_WestCoast["enddate"])
reservations_WestCoast["orderdate"] = pd.to_datetime(reservations_WestCoast["orderdate"])

In [5]:
reservations_WestCoast.dtypes

agency                       object
regiondescription            object
parentlocation               object
park                         object
sitetype                     object
facilityid                  float64
facilityzip                  object
facilitystate                object
customerzip                  object
customerstate                object
customercountry              object
totalbeforetax              float64
startdate            datetime64[ns]
enddate              datetime64[ns]
orderdate            datetime64[ns]
numberofpeople              float64
dtype: object

In [6]:
reservations_WestCoast["orderdate_to_startdate"] = (reservations_WestCoast["startdate"] - reservations_WestCoast["orderdate"]).dt.days

In [7]:
reservations_WestCoast["nights"] = (reservations_WestCoast["enddate"] - reservations_WestCoast["startdate"]).dt.days

In [8]:
reservations_WestCoast.dtypes

agency                            object
regiondescription                 object
parentlocation                    object
park                              object
sitetype                          object
facilityid                       float64
facilityzip                       object
facilitystate                     object
customerzip                       object
customerstate                     object
customercountry                   object
totalbeforetax                   float64
startdate                 datetime64[ns]
enddate                   datetime64[ns]
orderdate                 datetime64[ns]
numberofpeople                   float64
orderdate_to_startdate             int64
nights                             int64
dtype: object

In [9]:
reservations_WestCoast

,agency,regiondescription,parentlocation,park,sitetype,facilityid,facilityzip,facilitystate,customerzip,customerstate,customercountry,totalbeforetax,startdate,enddate,orderdate,numberofpeople,orderdate_to_startdate,nights
0,NPS,Joshua Tree National Park,Pacific West Region,SHEEP PASS GROUP,GROUP TENT ONLY AREA NONELECTRIC,232470.0,92277-3597,CA,90027,CA,USA,100.00,2016-09-03,2016-09-05,2015-10-01,20.0,338,2
1,USFS,MAMMOTH RD - FS,INYO NF - FS,PUMICE FLAT GROUP CAMP,GROUP STANDARD NONELECTRIC,231957.0,94301,CA,92301,CA,USA,313.05,2016-06-30,2016-07-03,2015-10-01,30.0,273,3
2,USFS,LOS ANGELES RIVER RD - FS,ANGELES NF - FS,MEADOW GROUP CAMPGROUND,GROUP STANDARD NONELECTRIC,233366.0,NaN,CA,91701,CA,USA,81.00,2016-06-24,2016-06-26,2015-10-01,24.0,267,2
3,USFS,NACHES RD - FS,OKANOGAN - WENATCHEE NF -FS,SALMON COVE GROUP SITE,GROUP STANDARD AREA NONELECTRIC,234498.0,98937,WA,98942,WA,USA,159.00,2016-09-08,2016-09-11,2015-10-01,27.0,343,3
4,USACE,LAKE MENDOCINO,SAN FRANCISCO DIST,BUSHAY RECREATION AREA,GROUP STANDARD NONELECTRIC,233437.0,95482-9404,CA,94565,CA,USA,705.00,2016-09-02,2016-09-05,2015-10-01,40.0,337,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3107701,USFS,Pacific Northwest,Okanogan-Wenatchee National Forest,Lake Creek Campground - Entiat River,STANDARD NONELECTRIC,273975.0,98822,Washington,98117,WA,USA,28.00,2020-08-14,2020-08-16,2020-08-10,2.0,4,2
3107702,USFS,Pacific Northwest,Okanogan-Wenatchee National Forest,Lake Creek Campground - Entiat River,STANDARD NONELECTRIC,273975.0,98822,Washington,NaN,NaN,NaN,18.00,2020-07-02,2020-07-03,2020-06-30,1.0,2,1
3107703,USFS,Pacific Northwest,Okanogan-Wenatchee National Forest,Lake Creek Campground - Entiat River,STANDARD NONELECTRIC,273975.0,98822,Washington,98801,WA,USA,108.00,2020-07-07,2020-07-17,2020-07-02,2.0,5,10
3107704,USFS,Pacific Northwest,Okanogan-Wenatchee National Forest,Lake Creek Campground - Entiat River,STANDARD NONELECTRIC,273975.0,98822,Washington,98006,WA,USA,38.00,2020-08-06,2020-08-09,2020-07-20,8.0,17,3
3107705,USFS,Pacific Northwest,Okanogan-Wenatchee National Forest,Lake Creek Campground - Entiat River,STANDARD NONELECTRIC,273975.0,98822,Washington,98801,WA,USA,18.00,2020-07-20,2020-07-24,2020-03-17,8.0,125,4

In [10]:
minus = reservations_WestCoast.loc[reservations_WestCoast["orderdate_to_startdate"] < 0]
minus

,agency,regiondescription,parentlocation,park,sitetype,facilityid,facilityzip,facilitystate,customerzip,customerstate,customercountry,totalbeforetax,startdate,enddate,orderdate,numberofpeople,orderdate_to_startdate,nights
216245,USACE,PINE FLAT LAKE,SACRAMENTO DIST.,ISLAND PARK,STANDARD NONELECTRIC,233521.0,93657,CA,93649,CA,USA,40.00,2016-05-01,2016-05-03,2016-05-02,1.0,-1,2
216353,USACE,NEW HOGAN LAKE,SACRAMENTO DIST.,ACORN CAMPGROUND,STANDARD NONELECTRIC,233683.0,95252,CA,95252,NaN,NLD,20.00,2016-05-01,2016-05-02,2016-05-02,6.0,-1,1
216614,USFS,SUMMIT RD - FS,STANISLAUS NF -FS,PINECREST,STANDARD NONELECTRIC,232254.0,NaN,CA,95355,CA,USA,25.00,2016-05-01,2016-05-02,2016-05-02,1.0,-1,1
216619,USFS,SUMMIT RD - FS,STANISLAUS NF -FS,PINECREST,STANDARD NONELECTRIC,232254.0,NaN,CA,10965,NY,USA,25.00,2016-05-01,2016-05-02,2016-05-02,1.0,-1,1
216693,USFS,MONO LAKE RD - FS,INYO NF - FS,OH RIDGE,STANDARD NONELECTRIC,232269.0,94301,CA,86303,AZ,USA,11.16,2016-05-01,2016-05-02,2016-05-02,1.0,-1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3047997,USFS,Pacific Northwest,Gifford Pinchot National Forest,LOWER FALLS CAMPGROUND,STANDARD NONELECTRIC,250032.0,98648,Washington,98052,WA,USA,23.00,2020-06-16,2020-06-17,2020-06-17,1.0,-1,1
3048465,USFS,Pacific Northwest,Gifford Pinchot National Forest,LOWER FALLS CAMPGROUND,STANDARD NONELECTRIC,250032.0,98648,Washington,NaN,NaN,NaN,23.00,2020-06-18,2020-06-19,2020-06-19,4.0,-1,1
3048879,USFS,Pacific Northwest,Gifford Pinchot National Forest,LOWER FALLS CAMPGROUND,STANDARD NONELECTRIC,250032.0,98648,Washington,NaN,NaN,NaN,23.00,2020-09-09,2020-09-10,2020-09-10,2.0,-1,1
3049959,USFS,Pacific Northwest,Gifford Pinchot National Forest,LOWER FALLS CAMPGROUND,STANDARD NONELECTRIC,250032.0,98648,Washington,NaN,NaN,NaN,68.00,2020-06-15,2020-06-19,2020-06-16,2.0,-1,4
3050238,USFS,Pacific Northwest,Gifford Pinchot National Forest,LOWER FALLS CAMPGROUND,STANDARD NONELECTRIC,250032.0,98648,Washington,98003,WA,USA,23.00,2020-09-08,2020-09-09,2020-09-09,2.0,-1,1

In [11]:
reservations_WestCoast = reservations_WestCoast.loc[reservations_WestCoast["orderdate_to_startdate"] >= 0]
reservations_WestCoast

,agency,regiondescription,parentlocation,park,sitetype,facilityid,facilityzip,facilitystate,customerzip,customerstate,customercountry,totalbeforetax,startdate,enddate,orderdate,numberofpeople,orderdate_to_startdate,nights
0,NPS,Joshua Tree National Park,Pacific West Region,SHEEP PASS GROUP,GROUP TENT ONLY AREA NONELECTRIC,232470.0,92277-3597,CA,90027,CA,USA,100.00,2016-09-03,2016-09-05,2015-10-01,20.0,338,2
1,USFS,MAMMOTH RD - FS,INYO NF - FS,PUMICE FLAT GROUP CAMP,GROUP STANDARD NONELECTRIC,231957.0,94301,CA,92301,CA,USA,313.05,2016-06-30,2016-07-03,2015-10-01,30.0,273,3
2,USFS,LOS ANGELES RIVER RD - FS,ANGELES NF - FS,MEADOW GROUP CAMPGROUND,GROUP STANDARD NONELECTRIC,233366.0,NaN,CA,91701,CA,USA,81.00,2016-06-24,2016-06-26,2015-10-01,24.0,267,2
3,USFS,NACHES RD - FS,OKANOGAN - WENATCHEE NF -FS,SALMON COVE GROUP SITE,GROUP STANDARD AREA NONELECTRIC,234498.0,98937,WA,98942,WA,USA,159.00,2016-09-08,2016-09-11,2015-10-01,27.0,343,3
4,USACE,LAKE MENDOCINO,SAN FRANCISCO DIST,BUSHAY RECREATION AREA,GROUP STANDARD NONELECTRIC,233437.0,95482-9404,CA,94565,CA,USA,705.00,2016-09-02,2016-09-05,2015-10-01,40.0,337,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3107701,USFS,Pacific Northwest,Okanogan-Wenatchee National Forest,Lake Creek Campground - Entiat River,STANDARD NONELECTRIC,273975.0,98822,Washington,98117,WA,USA,28.00,2020-08-14,2020-08-16,2020-08-10,2.0,4,2
3107702,USFS,Pacific Northwest,Okanogan-Wenatchee National Forest,Lake Creek Campground - Entiat River,STANDARD NONELECTRIC,273975.0,98822,Washington,NaN,NaN,NaN,18.00,2020-07-02,2020-07-03,2020-06-30,1.0,2,1
3107703,USFS,Pacific Northwest,Okanogan-Wenatchee National Forest,Lake Creek Campground - Entiat River,STANDARD NONELECTRIC,273975.0,98822,Washington,98801,WA,USA,108.00,2020-07-07,2020-07-17,2020-07-02,2.0,5,10
3107704,USFS,Pacific Northwest,Okanogan-Wenatchee National Forest,Lake Creek Campground - Entiat River,STANDARD NONELECTRIC,273975.0,98822,Washington,98006,WA,USA,38.00,2020-08-06,2020-08-09,2020-07-20,8.0,17,3
3107705,USFS,Pacific Northwest,Okanogan-Wenatchee National Forest,Lake Creek Campground - Entiat River,STANDARD NONELECTRIC,273975.0,98822,Washington,98801,WA,USA,18.00,2020-07-20,2020-07-24,2020-03-17,8.0,125,4

In [12]:
reservations_WestCoast["orderdate_to_startdate"].min()

0

In [13]:
demand_time = reservations_WestCoast.groupby("facilityid")["orderdate_to_startdate"].median()
demand_time = pd.DataFrame(demand_time)
demand_time = demand_time.rename(columns={"orderdate_to_startdate": "median_orderdate_to_startdate"})
demand_time

            median_orderdate_to_startdate
facilityid
118440.0                             20.0
119090.0                             30.0
119140.0                             21.0
119190.0                             21.0
119240.0                             21.5
...                                   ...
10039993.0                           31.0
10040012.0                          147.0
10040022.0                           13.0
10040047.0                           37.0
10058163.0                            7.0

[969 rows x 1 columns]

In [14]:
demand_time["average_orderdate_to_startdate"] = reservations_WestCoast.groupby("facilityid")["orderdate_to_startdate"].mean()
demand_time

            median_orderdate_to_startdate  average_orderdate_to_startdate
facilityid
118440.0                             20.0                       40.250000
119090.0                             30.0                       55.371438
119140.0                             21.0                       42.118890
119190.0                             21.0                       37.293520
119240.0                             21.5                       44.950943
...                                   ...                             ...
10039993.0                           31.0                       53.426573
10040012.0                          147.0                      136.445161
10040022.0                           13.0                       39.441509
10040047.0                           37.0                       53.171942
10058163.0                            7.0                       10.541667

[969 rows x 2 columns]

In [15]:
demand_time["min_orderdate_to_startdate"] = reservations_WestCoast.groupby("facilityid")["orderdate_to_startdate"].min()
demand_time

,median_orderdate_to_startdate,average_orderdate_to_startdate,min_orderdate_to_startdate
facilityid,,,
118440.0,20.0,40.250000,3
119090.0,30.0,55.371438,1
119140.0,21.0,42.118890,1
119190.0,21.0,37.293520,1
119240.0,21.5,44.950943,1
...,...,...,...
10039993.0,31.0,53.426573,0
10040012.0,147.0,136.445161,25
10040022.0,13.0,39.441509,1
10040047.0,37.0,53.171942,0
10058163.0,7.0,10.541667,0

In [16]:
demand_time["max_orderdate_to_startdate"] = reservations_WestCoast.groupby("facilityid")["orderdate_to_startdate"].max()
demand_time

,median_orderdate_to_startdate,average_orderdate_to_startdate,min_orderdate_to_startdate,max_orderdate_to_startdate
facilityid,,,,
118440.0,20.0,40.250000,3,182
119090.0,30.0,55.371438,1,236
119140.0,21.0,42.118890,1,188
119190.0,21.0,37.293520,1,184
119240.0,21.5,44.950943,1,189
...,...,...,...,...
10039993.0,31.0,53.426573,0,196
10040012.0,147.0,136.445161,25,234
10040022.0,13.0,39.441509,1,181
10040047.0,37.0,53.171942,0,184
10058163.0,7.0,10.541667,0,48

In [17]:
demand_time["average_nights"] = reservations_WestCoast.groupby("facilityid")["nights"].mean()
demand_time

,median_orderdate_to_startdate,average_orderdate_to_startdate,min_orderdate_to_startdate,max_orderdate_to_startdate,average_nights
facilityid,,,,,
118440.0,20.0,40.250000,3,182,3.310345
119090.0,30.0,55.371438,1,236,2.479231
119140.0,21.0,42.118890,1,188,2.414531
119190.0,21.0,37.293520,1,184,3.060991
119240.0,21.5,44.950943,1,189,2.690566
...,...,...,...,...,...
10039993.0,31.0,53.426573,0,196,2.505245
10040012.0,147.0,136.445161,25,234,3.232258
10040022.0,13.0,39.441509,1,181,2.252830
10040047.0,37.0,53.171942,0,184,2.660821
10058163.0,7.0,10.541667,0,48,1.647436

In [18]:
demand_time["median_nights"] = reservations_WestCoast.groupby("facilityid")["nights"].median()
demand_time

,median_orderdate_to_startdate,average_orderdate_to_startdate,min_orderdate_to_startdate,max_orderdate_to_startdate,average_nights,median_nights
facilityid,,,,,,
118440.0,20.0,40.250000,3,182,3.310345,3.0
119090.0,30.0,55.371438,1,236,2.479231,2.0
119140.0,21.0,42.118890,1,188,2.414531,2.0
119190.0,21.0,37.293520,1,184,3.060991,2.0
119240.0,21.5,44.950943,1,189,2.690566,2.0
...,...,...,...,...,...,...
10039993.0,31.0,53.426573,0,196,2.505245,2.0
10040012.0,147.0,136.445161,25,234,3.232258,3.0
10040022.0,13.0,39.441509,1,181,2.252830,2.0
10040047.0,37.0,53.171942,0,184,2.660821,3.0
10058163.0,7.0,10.541667,0,48,1.647436,1.0

In [19]:
demand_time.dtypes

median_orderdate_to_startdate     float64
average_orderdate_to_startdate    float64
min_orderdate_to_startdate          int64
max_orderdate_to_startdate          int64
average_nights                    float64
median_nights                     float64
dtype: object

In [20]:
demand_time = demand_time.reset_index()
demand_time

,facilityid,median_orderdate_to_startdate,average_orderdate_to_startdate,min_orderdate_to_startdate,max_orderdate_to_startdate,average_nights,median_nights
0,118440.0,20.0,40.250000,3,182,3.310345,3.0
1,119090.0,30.0,55.371438,1,236,2.479231,2.0
2,119140.0,21.0,42.118890,1,188,2.414531,2.0
3,119190.0,21.0,37.293520,1,184,3.060991,2.0
4,119240.0,21.5,44.950943,1,189,2.690566,2.0
...,...,...,...,...,...,...,...
964,10039993.0,31.0,53.426573,0,196,2.505245,2.0
965,10040012.0,147.0,136.445161,25,234,3.232258,3.0
966,10040022.0,13.0,39.441509,1,181,2.252830,2.0
967,10040047.0,37.0,53.171942,0,184,2.660821,3.0
968,10058163.0,7.0,10.541667,0,48,1.647436,1.0

In [21]:
demand_time.to_csv("../../Resources/data/Summary_statistics_for_ML.csv", index = False, header=True)